table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    width: 200px;
    border: 1px solid black;
  }
  
  h1{
    text-align: center;
  }
  th {
    background-color: #f9f9f9;
  }
  
  .wt {
    font-weight: bold;
  }
  
  input {
    border: none;
    text-align: center;
    /* padding-left: 10px; */
    width: 100%;
  }
  
  input:focus {
    outline: none;
  }

  .multiplyWt,
  .multiplyCost {
    text-align: center;
  }
  
  #totalFee::before {
    content: "\0024";
  }
  
  .amount {
    font-weight: bold;
  }
  

  #totalFee,
  #fee,
  #totalBedsCost,
  #totalQty,
  #totalWt {
    font-weight: bold;
    text-align: center;
  }
  
  #totalBedsCost::before {
    content: "\0024";
  }
  

  @media screen and (max-width: 650px) {
    table {
      width: 100%;
    }
      
  h1{
    text-align: center;
  }
  
    th, td {
      display: block;
      width: 100%;
      text-align: center;
      border-bottom: none;
    }
    tr{
        border-bottom: 2px solid grey;
    }
  }